<h1> Current Medal Count </h1>

<table>
	<tr>
		<th>Country</th>
		<th>Gold</th>
		<th>Silver</th>
		<th>Bronze</th>
		<th>Bronze</th>
		<th>Total</th>	
	</tr>

	
</table>

<%= link_to 'Back', controller: 'welcome' %>