<h1>2016 Summer Olympics</h1>

<h3>United States Medals</h3>

<%= link_to '2016 US Olympic Medalists', controller: 'medalists' %><br>

<%= link_to '2016 Olympic Medal Count', controller: 'medal_counts' %>
<!-- link to medal_count -->


